body {
    background-color: #27262C;
}
form {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 25%;
}
.main-text {
    text-align: center;
    font-family: 'Orbitron';
    font-weight: bold;
    color: #ffffff;
}
.user-input, .password-input {
    width: 70%;
    margin: 0 auto;
} 